@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
}

#__next {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  ul {
    @apply list-disc list-inside;
    list-style-type: none;
  }
}
